annotated-types==0.7.0
asgiref==3.8.1
crispy-bootstrap5==2025.6
Django==4.2.23
django-bootstrap-datepicker-plus==5.0.5
django-crispy-forms==2.4
django-tinymce==4.1.0
pillow==11.2.1
pydantic==2.11.7
pydantic_core==2.33.2
sqlparse==0.5.3
typing-inspection==0.4.1
typing_extensions==4.14.0
