{% extends 'base.html' %}

{% block title %}Prisijungimas{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
{% if form.errors %}
  <p class="text-danger">Prisijungimo klaida, bandykite dar kartą!</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Neturite prieigos prie šios informacijos. Turite prisijungti.</p>
  {% endif %}
{% endif %}

  <form method="post" action="{% url 'login' %}" class="my-4">
    {% csrf_token %}

    <div class="mb-3 row justify-content-center">
      <label for="id_username" class="col-md-4 col-form-label">Vartotojas</label>
      <div class="col-md-8">
        <input type="text" name="username" class="form-control" id="id_username" required>
      </div>
    </div>

    <div class="mb-3 row">
      <label for="id_password" class="col-md-4 col-form-label">Slaptažodis</label>
      <div class="col-md-8">
        <input type="password" name="password" class="form-control" id="id_password" required>
      </div>
    </div>

    <input type="hidden" name="next" value="{{ next }}"/>

    <div class="text-end">
      <button type="submit" class="btn btn-primary">Prisijungti</button>
    </div>
    <p><a class="nav-link text-primary" href="{% url 'password_reset' %}">Pamiršote slaptažodį?</a></p>
</form>

</div>
{% endblock %}