{% extends "base.html" %}

{% block title %} Informacija apie automobilį {% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="box">
        <h3 class="text-primary pb-3 ms-3">Informacija apie automobilį</h3>
        <p class="text-secondary">Automobilio modelis :<strong class="ms-3 text-white">{{ car.automodel }} </strong> </p>
        <p class="text-secondary">Valstybinis numeris :<strong class="ms-3 text-white">{{ car.l_plate }} </strong> </p>
        <p class="text-secondary">Kėbulo numeris :<strong class="ms-3 text-white">{{ car.vin_code }} </strong> </p>
        <p> <strong class="text-secondary">Aprašymas: </strong>{{ car.description | safe }}</p>
      </div>
    </div>

    <div class="col-md-5">
      <div class="box">
        <h5 class="text-primary p-3"><i class="bi bi-file-earmark-spreadsheet-fill"></i>  Atlikti remonto darbai</h5>
        {% for order in car.orders.all %}
          {% for line in order.lines.all %}
            <p> {{ line.service.service_name }} </p>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}