{% extends "base.html" %}

{% block "title" %} Servise registruoti automobiliai {% endblock %}

{% block "content" %}
<h3 class="pb-3 ms-3 text-primary"> Servise registruoti automobiliai </h3>
  {% for car in automobiliai %}
    <a href="{% url 'automobilis' car.id %}" class="nav-link">
      <p> <strong class="text-white"> {{ car.client }} </strong> - {{ car.automodel }}</p>
    </a>
  {% endfor %}

<div class="container">
    <nav aria-label="...">
        {% if automobiliai.has_other_pages %}
            <ul class="pagination pagination-sm justify-content-center">
                {% for i in automobiliai.paginator.page_range %}
                    {% if automobiliai.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</div>

{% endblock %}