{% extends 'base.html' %}

{% block title %} Užsakymas {% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container col-lg-4 justify-content-center">

  <form class="container justify-content-center my-4" method="post">
    <div class="form-group">
      <h2>Tvarkyti užsakymą</h2>
    {% csrf_token %}
    {{ form|crispy }}
    </div>
    <div>
        <button type="submit" class="btn btn-primary my-3">Tvarkyti užsakymą</button>
    </div>

    
  </form>
</div>
{% endblock %}