{% extends "base.html" %}

{% block title %} Užsakymai {% endblock %}

{% block content %}
<h3 class="pb-3 ms-3 text-primary">Užsakymų sąrašas</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">###</th>
      <th scope="col">Klientas</th>
      <th scope="col">Automobilis</th>
      <th scope="col">Užsakymo būsena</th>
      <th scope="col-1">Terminas</th>
    </tr>
  </thead>
  <tbody>
{% for order in orders %}
    <tr>
      <td> <a href="{{ order.pk }}" class="nav-link text-info"> {{ order.pk }} <i class="bi bi-file-earmark-spreadsheet-fill"></i> </a> </td>
      <td>{{ order.auto.owner }}</td>
      <td>{{ order.auto.automodel }}</td>
      <td class="{% if order.status == 'l' %}text-secondary{% elif order.status == 'v' %}text-info{% elif order.status == 'n' %}text-warning{% elif order.status == 'i' %}text-success{% elif order.status == 'x' %}text-danger{% endif %}">{{ order.get_status_display}}</td>
      <td class="{% if order.is_overdue %}text-danger{% endif %}">{{ order.deadline_time }} - {{ order.deadline_date }}</td>
    </tr>

{% endfor %}
  </tbody>
</table>


<div class="pagination justify-content-center d-flex">
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="?page=1">Pirmas</a>
      </li>
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      <li class="page-item active">
        <a class="page-link active" aria-current="page"> {{ page_obj.number }} </a>
      </li>
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Paskutinis ({{ page_obj.paginator.num_pages }})</a>
      </li>
    </ul>
  </nav>
</div>
{% endblock %}