{% extends "base.html" %}

{% block title %} Užsakymas {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

{% if user.profile.is_employee %}
  <a href="{% url 'manage_order' order.pk %}" class="btn btn-primary my-4">Tvarkyti užsakymą</a>
  <a class="btn btn-danger" href="{% url 'delete_order' order.pk %}">Ištrinti užsakymą</a>
{% endif %}

<br>
<h3 class="text-primary pb-3 ms-3">Užsakymas <span class="text-white"> id: {{ order.pk }}</span></h3>
<p class="text-secondary">Klientas: <span class="text-white"> {{ order.auto.owner }} </span></p>
<p class="text-secondary">Užsakymo data: <span class="text-white"> {{ order.order_date }} </span></p>
<p class="text-secondary">Automobilis <span class="text-white"> {{ order.auto.automodel }} </span></p>
<p class="text-secondary">Valst. Nr.:  <span class="text-white"> [{{ order.auto.l_plate }}] </span> VIN: <span class="text-white"> {{ order.auto.vin_code }} </span></p>

{% if order.status != 'i' %}

<div class="modal fade" id="addOrderLineModal" tabindex="-1" aria-labelledby="addOrderLineLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title" id="addOrderLineLabel">Pridėti paslaugą</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Uždaryti"></button>
        </div>
        <div class="modal-body">
          {{ orderline_form|crispy }}
          <input type="hidden" name="submit_type" value="orderline">
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Pridėti</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Atšaukti</button>
        </div>
      </form>
    </div>
  </div>
</div>

<button type="button" class="btn btn-outline-primary my-3" data-bs-toggle="modal" data-bs-target="#addOrderLineModal">
  Pridėti paslaugą
</button>
{% endif %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Paslauga</th>
      <th scope="col">Kaina/vnt</th>
      <th scope="col">Kiekis</th>
      <th scope="col">Kaina</th>
    </tr>
  </thead>
  <tbody>
{% for line in order.lines.all %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ line.service.service_name }}</td>
      <td>{{ line.service.price }} €</td>
      <td>{{ line.qty }}</td>
      <td>{{ line.kaina }} €</td>
    </tr>
{% endfor %}
      <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><strong>Viso: </strong></td>
      <td><strong>{{ order.suma }}</strong> €</td>
    </tr>
  </tbody>
</table>

<div class="container mt-5">
    <h3>Komentarai</h3>
    {% if user.is_authenticated %}
    <div class="fieldWrapper mb-5">
        <hr class="w-25"><br/>
        <h5>Palikite komentarą</h5>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}<br/>
            <input type="submit" name="submit_type" class="btn btn-primary" value="comment">
        </form>
    </div>
    {% endif %}
    <hr>
    {% for comment in order.comments.all %}
    <p><img src="{{ comment.author.profile.photo.url }}" class="rounded-circle" style="width: 50px" class="mx-2"><strong> {{ comment.author }}</strong> ({{ comment.author.first_name}} {{comment.author.last_name }}) </p>
    <small>{{ comment.date }}</small>
    <p>{{ comment.content }}</p>
    <hr>
    {% endfor %}
</div>

{% endblock %}