{% extends 'base.html' %}
{% block title %}{{ user.username }} profilis{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<h3 class="account-heading text-center me-4 text-secondary">Vartotojo <strong class="text-white"><i>{{ user.username }}</i></strong> profilis</h3>
<hr>
<br>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container row content-section">
        <div class="col-lg-5 d-flex justify-content-center align-items-center">
            <img class="rounded-circle account-img" src="{{ user.profile.photo.url }}" alt="ugly">

            <br>
        </div>
        <div class="col-lg-7 my-3">
            {{ u_form|crispy }}
        </div>
   </div>
        <div>
            {{ p_form|crispy }}
        </div>
        <div class="form-group d-flex justify-content-center align-items-center">
            <button class="btn btn-success" type="submit">Keisti duomenis</button>
        </div>

</form>
{% endblock %}