h1 {
  text-shadow: 0 0 3px var(--bs-primary), 0 0 5px white;
}

.my-broken-shadow {
    text-shadow: 0 0 3px currentColor, 0 0 5px white;
}

a.nav-link:hover {
  text-shadow: 0 0 3px currentColor;
}

.carousel-inner {
  margin: 0 auto;
}
.carousel-inner img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.fixed-img {
  height: 200px; /* or whatever height you want */
  object-fit: cover;
}
ion-icon {
  font-size: 2em;
  animation: blink 2s ease-in infinite;
}

@keyframes blink {
  from, to { opacity: 1 }
  50% { opacity: 0 }
}


